#stories-header {
    display: flex;
    background: url('../images/stories.jpg');
    background-position: 50% 50%;
    background-size: cover;
    align-items: center;
    margin-bottom: -11em;
 
}
.search-story {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    
    
    
}

